* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  &__form {
    width: 100%;
    padding: 2% 10% 2% 1%;
  }

  &__form-input {
    width: 100%;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 5px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.519);
    border-radius: 5px;
  }
  &__section {
    // background-color: blue;
    min-height: 80vh;
    display: grid;
    grid-template-columns: auto auto;
    padding: 2%;
  }

  &__cards-first {
    // background-color: red;
    grid-column: 1/2 !important;

    & img {
      width: 60%;
      height: 50%;
      max-width: 1000px;
      max-height: 1300px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/3;
    gap: 10px;
  }

  &__cards-stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__cards-img {
    width: 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(155, 171, 6, 0.519);
  }

  &__cards-stats-title-first {
    font-family: sans-serif;
    font-size: 33px !important;
    word-break: break-all;
  }

  &__cards-stats-box {
    display: flex;
    gap: 10px;
  }

  &__cards-stats-year-first,
  &__cards-stats-type-first {
    font-family: sans-serif;
    font-size: 17px;
  }

  &__cards-stats-title {
    font-size: 20px;
    font-family: sans-serif;
  }

  &__cards-stats-year,
  &__cards-stats-type {
    font-size: 10px;
    font-family: sans-serif;
  }

  &__cards-stats-type-s {
    background-color: rgb(0, 140, 255);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 2px 4px;
  }

  &__cards-stats-year-s {
    background-color: rgb(255, 174, 0);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 2px 4px;
  }

  &__cards-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    grid-column: 2/3;
  }
}

@media (max-width: 700px) {
  .main {
    &__cards-stats-title {
      font-size: 20px;
    }

    &__cards-stats-year,
    &__cards-stats-type {
      font-size: 10px;
    }

    &__cards-stats {
      gap: 5px;
    }

    &__cards-stats-year-s,
    &__cards-stats-type-s {
      font-size: 8px;
    }
  }
}

@media (max-width: 500px) {
  .main {
    &__section {
      height: auto !important;
      min-height: none;
      grid-template-columns: auto !important;
      grid-row: auto auto !important;
      gap: 0px;
    }

    &__cards-first {
      grid-column: 1/2;
      grid-row: 1/2 !important;
      // height: 100px;
    }

    &__cards-right {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }
}
